header {
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    height: 70px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: flex-start;
}

.header-logo {
    background-image: url(/holbertonschool-AirBnB_clone/web_static/images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 142px;
    height: 100%;
    margin-left: 20px;
}